*.ccsproject
*.cproject
*.project
*.cmd
Debug/
targetConfigs/
.settings/
.launches/
.metadata/
.jxbrowser.userdata/
dvt/
RemoteSystemsTempFiles/
hardware/RF_Board/RF_Board-backups
hardware/FlightComputer/FlightComputer-backups